<%- include('partials/header') -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <label>Title</label>
<input class="form-control" type="text" name="postTitle" placeholder="Compose">
<label>Post</label>
<textarea class="form-control" name="postBody" rows="3" cols="30"></textarea>
<button class="btn btn-primary" type="submit" name="button" >publish</button>
</form>

<%- include('partials/footer') -%>
